# python-dotenv
# langchain
# langchain_community
# pymupdf
# langchain_huggingface
# faiss-cpu
# sentence-transformers
# pyttsx3==2.90
# speechrecognition
# comtypes
streamlit
pymupdf
langchain
langchain-core
langchain-huggingface
langchain-community
huggingface_hub
faiss-cpu
sentence-transformers
pyttsx3
speechrecognition
comtypes
platform
espeak-ng